* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.flex {
  display: flex;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #6a00ff, #ba00f8);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: #333;
}
h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  color: #fff;
}
input,
button {
  font-family: "Poppins", sans-serif;
}
